body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: Verdana, sans-serif;
  margin-bottom: 4px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  float: left;
}

.header {
  width: 100%;
  margin: 8px 0px 8px 8px;
  padding: 2px 0px 2px 42px;
  color: white;
  background-color: red;
  top: 0;
  left: 0;
  font-weight: bold;
}

.content {
  margin-left: 40px;
}

.video-box {
  vertical-align: top;
  padding: 9px 0px 0px 40px;
  float: left;
}

.content-box {
  vertical-align: top;
  float: left;
  max-width: 620px;
}

.iframe-text {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

div, p {
  font-family: Verdana, sans-serif;
}

a {
  color: black;
}

/* unvisited link */
.header a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
.header a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
.header a:hover {
  color: gainsboro;
  text-decoration: none;
}

/* selected link */
.header a:active {
  color: white;
  text-decoration: none;
}

.content {
  max-width: 600px;
}
