body {
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 4px;
}

div, p {
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  width: 100%;
  margin: 8px;
  padding-top: 2px;
  padding-left: 42px;
  padding-bottom: 2px;
  color: white;
  background-color: red;
  top: 0;
  left: 0;
  font-weight: bold;
}

#content {
 margin-left: 40px;
}

a {
  color: black;
}

/* unvisited link */
#header a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
#header a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
#header a:hover {
  color: gainsboro;
  text-decoration: none;
}

/* selected link */
#header a:active {
  color: white;
  text-decoration: none;
}

#content {
  max-width: 500px;
}
